<div class="row my-first-container container-fluid">
    <div class="col-md-6">
        <p class="first-part">
            Want anything to be easy with <span>MyVpn</span>
        </p>
        
        <p class="second-part">
            Provide a network for all your needs with ease and fun using MyVPN discover interesting features from us.
        </p>
        <button type="button" class="btn start btn-danger">Get Started</button>

    </div>
    <div class="col-md-6 hidden-in-mobile">
        <img src="assets/images/img1.svg" class="w-100" alt="couverture">
    </div>
</div>