<div class="central-container">
    <div class="header container">
        <div class="row justify">
            <div class="col d-flex justify-content-center">
              <div class="red">
                <em class="fa fa-user fa-2x"></em>
              </div>
              <div>
                <p class="bold">90+</p>
                <p class="small">Users</p>
              </div>
              
            </div>
            <div class="col d-flex justify-content-center">
              <div class="red">
                <em class="fa fa-map-pin fa-2x"></em>
              </div>
              <div>
                <p class="bold">30+</p>
                <p class="small">Locations</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="red">
                <em class="fa fa-hdd-o fa-2x"></em>
              </div>
              <div>
                <p class="bold">50+</p>
                <p class="small">Servers</p>
              </div>
            </div>
          </div>
    </div>

</div>