<div class="my-plan container">
    <h1>Choose Your Plan</h1>
    <span>Let's choose the package that is best for you and explore it happily and cheerfully</span>
    <div class="row body">
        <div class="col d-flex justify-content-center">
            <div class="card">
                <img class="card-img-top" src="assets/images/card-img1.svg" alt="Card image 1">
                <div class="card-body">
                  <h5 class="card-title">Free Plan</h5>
                </div>
                <ul class="list-group list-group-flush text-left fa-ul">
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Bandwitch</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Encrypted Connection</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>No Traffic Logs</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Works on All Devices</li>
                </ul>
                <div class="card-body">
                    <h4 class="card-price">Free</h4>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-danger select">Select</button>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <div class="card">
                <img class="card-img-top" src="assets/images/card-img2.svg" alt="Card image 1">
                <div class="card-body">
                  <h5 class="card-title">Standard Plan</h5>
                </div>
                <ul class="list-group list-group-flush fa-ul">
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Bandwitch</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Encrypted Connection</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>No Traffic Logs</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Works on All Devices</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Connect Anyware</li>
                </ul>
                <div class="card-body">
                    <h4 class="card-price">$9/mo</h4>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-danger select">Select</button>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <div class="card hovered">
                <img class="card-img-top" src="assets/images/card-img3.svg" alt="Card image 1">
                <div class="card-body">
                  <h5 class="card-title">Free Plan</h5>
                </div>
                <ul class="list-group list-group-flush fa-ul">
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Bandwitch</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Encrypted Connection</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>No Traffic Logs</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Works on All Devices</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Connect Anyware</li>
                  <li class="list-group-item"><span class="fa-li"><i class="fa fa-check"></i> </span>Get New Features</li>
                </ul>
                <div class="card-body">
                    <h4 class="card-price">$12/mo</h4>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-danger select hover">Select</button>
                </div>
            </div>
        </div>
    </div>

</div>