<div class=" my-footer bg-light text-center text-lg-start hidden-in-mobile">
  <app-second-central class="decale"></app-second-central>
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="footer-ft text-left col-lg-4 col-md-12 mb-4 mb-md-2">
        <img class="app-logo" src="assets/images/logo.svg" alt="logo">
          <a class="footer-brand" href="#">MyVPN</a>
        <p class="footer-item"> 
          MyVPN is a private virtual network that has unique features and has high security.
        </p>
        <em class="fa fa-facebook fa-2x"></em>
        <em class="fa fa-twitter fa-2x"></em>
        <em class="fa fa-instagram fa-2x"></em>
        <p class="footer-Cry">©2021MyVPN</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-3 mb-md-0 ">
        <h5 class="footer-title">Product</h5>

        <ul class="list-unstyled footer-ft mb-0">
          <li class="footer-item">
            <a href="#!" class="text-dark">Download  </a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">Pricing</a>
          </li >
          <li class="footer-item">
            <a href="#!" class="text-dark">Locations</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">Server</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">Countries</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">Blog</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-3 mb-3 mb-md-0">
        <h5 class="footer-title ">Engage</h5>

        <ul class="list-unstyled footer-ft">
          <li class="footer-item">
            <a href="#!" class="text-dark">LaslesVPN ?</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">FAQ</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">Tutorials</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">About Us</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">Privacy Policy</a>
          </li>
          <li class="footer-item">
            <a href="#!" class="text-dark">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 mb-4 mb-md-0">
        <h5 class="footer-title">Earn Money</h5>

        <ul class="list-unstyled footer-ft mb-0">
          <li class="footer-item">
            <a href="#!" class="text-dark">Affiliate </a>
          </li>
          <li  class="footer-item">
            <a href="#!" class="text-dark">Become Partner</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
  <!-- Grid container -->

  
</div>
<!-- Footer -->