<div class="row my-second-container container-fluid">
    <div class="col-md-6 hidden-in-mobile">
        <img src="assets/images/img2.svg" class="w-100" alt="couverture">
    </div>
    
    <div class="col-md-6 col-lg-5 ">
        <p class="first-part">
            We Provide Many Features You Can Use</p>
       
        
        <p class="second-part">
            You can explore the features that we provide with fun and have their own functions each feature.
        </p>
        <ul class="list-unstyled  mb-0 fa-ul">
            <li class="third-part">
                <span class="fa-li"><i class="fa fa-check-circle"></i></span>
                <p>Powerfull online protection.</p>
            </li>
            <li class="third-part">
                <span class="fa-li"><i class="fa fa-check-circle"></i></span>
                <p>Internet without borders.</p>
             </li>
             <li class="third-part">
                <span class="fa-li"><i class="fa fa-check-circle"></i></span>
                <p>Supercharged VPN</p>
             </li>
             <li class="third-part">
                <span class="fa-li"><i class="fa fa-check-circle"></i></span>
                <p>No specific time limits.</p>
             </li>
        </ul>
    </div>
   
</div>