<nav class="my-navbar navbar navbar-expand-lg navbar-light">
    <img class="app-logo" src="assets/images/logo.svg" alt="logo">
    <a class="navbar-brand" href="#">MyVPN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Feature <span class="sr-only"></span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Pricing <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testimonials <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help <span class="sr-only"></span></a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn my-2 my-sm-0 my-signin" type="button">Sign in</button>
        <button class="btn btn-outline-danger my-signup my-sm-0" type="submit">Sign up</button>
      </form>
    </div>
  </nav>