<div class="second-container hidden-in-mobile">
    <div class="header container">
        <div class="row">
            <div class="col text-left justify-content-center mr-auto" >
                <h2 class="bold">Subscribe Now for Get Special Features!</h2>
                <p class="small">Let's subscribe with us and find the fun.</p>
            </div>
            <div class="col text-right justify-content-right">
                <button type="button" class="btn subscribe btn-danger">Subscribe Now </button>
            </div>
          </div>
    </div>

</div>